{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-restricted-globals": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "comma-dangle": ["error",{
      "functions": "ignore"
    }],
    "no-shadow": "off",
    "import/no-named-as-default": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ]
  }
}
